@import "./common.scss";

.button-base{
  background: $base_color;
  width: 200px;
  height: 50px;
}


button{
  border: none;
  outline: none;
  cursor: pointer;
}
.button-radius{
  border-radius: 5px;
}
.button-default{
  background: $base_color2;
  color: #342a28;
  padding: 5px 15px;
  border: 1px solid #342a28;
}

.button-color1{
  background: $base_color;
  color: $base_color2;
  padding: 5px 15px;
  border: 1px solid $base_color;
}
