@charset "UTF-8";
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "微软雅黑", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

button {
  border: 0;
}

.active {
  color: #fff;
  background: linear-gradient(#de581a, #f08c1a);
}

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs {
  background-color: #f1f1f1;
  margin-top: 3px;
}

.breadcrumbs .wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  color: #666666;
  font-size: 10px;
}

.breadcrumbs .wrapper img {
  margin-bottom: 4px;
}

.breadcrumbs .wrapper a {
  color: #666666;
}

footer .wrapper {
  width: 1200px;
  margin: 0 auto;
  color: #666666;
  text-align: center;
}

footer .wrapper ul {
  display: flex;
  justify-content: space-between;
}

footer .wrapper ul li {
  border-right: 1px solid #aaaaaa;
  padding-right: 50px;
}

footer .wrapper ul li:last-child {
  border: 0;
}

footer .wrapper ul li:first-child {
  padding-left: 20px;
}

footer .wrapper ul li a {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #666666;
}

footer .wrapper .callus {
  padding-top: 40px;
  padding-bottom: 7px;
}

footer .wrapper .callus a {
  color: #666666;
  padding-right: 20px;
}

footer .wrapper p:last-child {
  padding-bottom: 20px;
}

body {
  min-width: 1250px;
}

header {
  background: url("../images/topbg5_01.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 93px;
}

header .wrapper {
  width: 1200px;
  margin: 0 auto;
}

header .wrapper div {
  width: 477px;
  height: 93px;
  background: url("../images/bgbg.png") no-repeat;
  float: left;
  line-height: 93px;
  text-align: center;
}

nav {
  background: url("../images/topbg1.jpg") no-repeat;
  background-size: 100% 100%;
  height: 58px;
  box-shadow: 2px 2px 3px #cfcfcf;
}

nav .wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav .wrapper ul {
  display: flex;
  justify-content: space-between;
}

nav .wrapper ul li {
  float: left;
}

nav .wrapper ul li a {
  display: block;
  font-weight: bold;
  width: 144px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  z-index: 0;
  font-size: 16px;
}

nav .wrapper ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#de581a, #f08c1a);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

nav .wrapper ul li a:hover {
  color: #fff;
}

nav .wrapper ul li a:hover::before {
  opacity: 1;
}

main {
  margin-bottom: 35px;
}

main .wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

main .wrapper > div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../images/shuiyin.png");
}

main .wrapper ul {
  background-color: #f6f9fc;
}

main .wrapper ul li {
  padding: 40px 0;
  text-align: center;
}

main .wrapper ul li div.title {
  position: relative;
  height: 130px;
  line-height: 130px;
  text-align: center;
  margin-bottom: 20px;
}

main .wrapper ul li div.title img {
  position: absolute;
  left: 255px;
}

main .wrapper ul li div.title h3 {
  display: inline-block;
  width: 523px;
  height: 73px;
  background: url("../images/divbg1.jpg") no-repeat;
  background-size: 100% 100%;
  line-height: 73px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

main .wrapper ul li > img + img {
  margin-top: 45px;
}
