@import "./_init";     
@import "./_mixins";
@import "./_breadcrumbs"; 
@import "./_footer"; 
@import "./_nav";   

main {
  .wrapper {
    @include wrapper;
    background-color: #f6f9fc;
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    padding-left: 10px;
    >a {
      background: linear-gradient(#de581a, #f08c1a);
      cursor: pointer;
      width: 80px;
      height: 96px;
      text-align: center;
      position: absolute;
      z-index: 3;
      left: 1200px;
      top: 0px;
      padding-top: 15px;
      .iconfont {
        font-size: 40px;
        color: #fff;
      }
      span {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding-top: 10px;
      }
    }
    h2 {
      text-align: left;
      padding-top: 10px;
    }
    p {
      text-align: left;
      text-indent: 2em;
      margin: 20px 0;
    }
    p.desc {
      text-align: center;
      margin: 0px;
      padding-bottom: 30px;
    }
    
    img {
      display: block;
      margin: 10px auto;
      margin-bottom: 10px;
      width: 60%;
    }
  }
}