@import "./_init";     
@import "./_mixins";
@import "./_footer"; 
@import "./_nav";    

main {
  ul.imggroup {
    @include wrapper;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    li {
      width: 387px;
      height: 297px;
      position: relative;
      cursor: pointer;
      &:nth-child(1) {
        background: url('../images/A1.JPG')  no-repeat;
        background-size: 100% 100%;
      }
      &:nth-child(2) { 
        background: url('../images/B2.JPG')  no-repeat;
        background-size: 100% 100%;
      } 
      &:nth-child(3) {
        background: url('../images/D1.JPG')  no-repeat;
        background-size: 100% 100%;
      }
      a {
        width: 100%; 
        height: 100%;
        display: inline-block;
      }
      &:hover {
        p {
          height: 100%;
          //line-height: 297px;
        }
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 50px;
        color: #fff;
        background-color:rgba($color: #000000, $alpha: 0.5);
        box-sizing: border-box;
        transition: 0.4s ease-in;
      }
      
    }
  }

  ul.servers {
    @include wrapper;
    //overflow: hidden;
    li {
      cursor: pointer;
      //overflow: hidden;
      margin-top: 15px;
      &::after {
        content: '';
        display: block;
        clear: both;
      }
      a.server {
        width: 593px;
        height: 125px;
        line-height: 125px;
        transition: all 0.3s linear;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        } 
        img {
          margin: 0 27px;
          margin-bottom: 15px;
        }
        span {
          color: #fff;
          font-weight: bold;
          font-size: 35px;
        }
      }
      &:last-child {
        cursor: auto;
        display: table;
        width: 100%;
        height: 101px;
        background: url('../images/bottombg1.jpg') repeat-x;
        background-size: 100% 100%;
        margin-bottom: 25px;
        .wrapper {
          display: table-cell;
          vertical-align: middle;
            div {
              margin: 0 auto;
              width: 600px;
              height: 47px;
              position: relative;
              box-sizing: border-box;
              background: linear-gradient(#de591a, #f08a1a);
              padding: 4px;
              input {  
                position: absolute;
                width: 480px;
                height: 39px;
                border: 0;
                padding-left: 20px;
              }
              a {
                cursor: pointer;
                position: absolute;
                right: 27px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: 0;
                color: #fff;
                img {
                  padding-right: 15px;
                }
              }
          }
        }
      }
    }
  }
}
     


